html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
	background-image: url(../img/fondo.jpg);
	/*background-size: cover para ajustar la imagen en el fondo*/
	background-size: cover;
  min-height: 100%;
}

.texto{
  padding: 5%;
}

#logo{
  width: 10%;
}

.texto-mascotas{
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid black;
  padding: 1%;
}

.texto-mascotas img {
  align-self: center;
  border: 1px solid black;
  border-radius: 10%;
  width: 50%;
  height: 50%;
}

footer {
  margin-top: auto;
}


h2 {
  text-align: center;
  color: rgb(104, 104, 104);
  border: 1px solid black;
  background-color: #9cd1ed;
  border-radius: 15px;
}

.navbar {
  border-radius: 0 0 15px 15px;
}

.card {
	text-align: center;
}